<div class="container index-container ">
  <div class="row">
     <div class="col-xl-12 text-center mt-5">
       <h2 class="title">Follow Users</h2>
     </div>

    <%= render 'users/index', users: @users %>

  </div>
</div>
