<div class="container">
  <div class="row">
    <div class="col-xl-12 text-center">
        <h2 class="mt-4">本当に退会しますか？</h2>
            <div class="btn mt-4">
              <%= link_to "Yes", user_path(current_user), method: :delete, class: "btn btn-danger mr-4" %>
              <%= link_to "No", root_path, class: "btn btn-primary ml-4" %>
            </div>
    </div>
  </div>
</div>
