<div class="section">
  <div class="slider">
    <div class="slidercontent">
      <h1 class="hero">EClothes</h1>
      <h2 class="hero">Connecting people and clothes for EC..</h2>
      <div class="call"><span>TOP</span></div>
    </div>
  </div>
</div>
<div class="section">
  <div class="header-container text-center">
    <div class="col four">
      <h1 class="icon"><i class="far fa-edit"></i></h1>
      <h1 class="service">Review</h1>
      <p>ファッションアイテムのレビューを投稿できます<br />また、他のユーザの投稿を閲覧することができます</p>
    </div>
    <div class="col four">
      <h1 class="icon"><i class="far fa-thumbs-up"></i></h1>
      <h1 class="service">Favorite</h1>
      <p>お気に入りのレビューにいいねをつけることができます</p>
    </div>
    <div class="responsivegroup"></div>
    <div class="col four">
      <h1 class="icon"><i class="fab fa-twitter"></i></h1>
      <h1 class="service">SNS share</h1>
      <p>自分の投稿やお気に入りの投稿をTwitterやFacebookにシェアすることができます</p>
    </div>
    <div class="col four">
      <h1 class="icon"><i class="far fa-comments"></i></h1>
      <h1 class="service">Communication</h1>
      <p>他のユーザの投稿にコメントすることができます</p>
    </div>
    <div class="group"></div>
  </div>
</div>
<div class="section">
  <div class="header-container">
    <h1 class="reset">By EClothes.</h1>
  </div>
</div>