<div class="row">
    <div class="col-xl-12 text center">
      <h2 class="text text-center">About "EClothes"?</h2>
        <div class="about-visual">
          <div class="carousel-item active text-center">
              <img src="/about.png">
            </div>
        </div>
        <div class="text-box text-center mt-4">
          text<br>
          text<br>
          text<br>
        </div>
        <div class="top-bottom text-center mt-4">
          <%= link_to "TOP", root_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>