<div class="section">
  <div class="slider">
    <div class="slidercontent">
      <h1 class="hero">EClothes</h1>
      <h2 class="hero">Connecting people and clothes for EC..</h2>
      <div class="call"><span><%= link_to "TOP", homes_top_path %></span></div>
      <div class="video-container">
        <%= video_tag "enter-movie.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
      </div>
    </div>
  </div>
</div>
