<div class="container text-center my-auto">
    <h1 class="mb-1">EClothes</h1>
    <h3 class="mb-5">
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="/homes/top">ENTER</a>
</div>

<div class="overlay"></div>
