// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-gutters {
  margin:0;
  padding:0;
}

.no-gutters　> .col,
.no-gutters　> [class*="col-"] {
  margin:0;
  padding:0;
}

.call a {
  color: white;
}

.call a:hover {
  color: #F2BC57;
}

.video-container{
  position: fixed;
  top: 30;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
  margin-top: 30px;
}

.slidercontent{
  position: fixed;
  width: 100%;
  height: 100%;
}