<div class='container index-container'>
  <div class="row">
    <div class="col-xl-10">
        <div class="reviews-box">
            <h2 class="title">#{@tag}Reviews</h2>
              <%= render 'layouts/review-index', reviews: @tags %>
        </div>
    </div>
  </div>
</div>
