<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h1 class="my-4">Hot Reviews</h1>

        <%= render 'layouts/review-index', reviews: @all_ranks %>

    </div>
  </div>
</div>