<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-12 text-center mt-5">
      <h1 class="my-4"> Reviews</h1>

        <%= render 'layouts/review-index', reviews: @reviews %>

    </div>
  </div>
</div>